@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; 
  --foreground: #171717; 
  --navbar-bg: #ce123c; 
  --navbar-text: #ffffff; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background: var(--navbar-bg);
  color: var(--navbar-text);
}

button {
  background-color: var(--navbar-bg);
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--foreground);
  transform: translate3d(0, -2px, 0) scale(1.03);
  transition: all 0.3s ease;
}

.homeScreenButton {
  background-color: var(--foreground);
  transition: all 0.3s ease;
  color: white;
}

.homeScreenButton:hover {
  background-color: var(--background);
  color: black;
  transform: translate3d(0, -2px, 0) scale(1.03);
  transition: all 0.3s ease;
}

.navbarLinks {
  padding: 0.5em 1em;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.navbarLinks:hover {
  background-color: var(--background);
  color: black;
  transform: translate3d(0, -2px, 0) scale(1.03);
  transition: all 0.3s ease;
}